<!-- if a title exists, add it to the h1
If not return to the base view. -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Adds the ability to see error messages -->
<%- messages() %>

<!-- Display Errors -->
<% if (errors) { %>
  <ul class="notice" id="form-errors">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Display the login form -->
<form class="form-container" action="/account/login" method="post" id="login-form">
  <label for="email">Email:</label>
  <input
    id="email"
    type="email"
    name="account_email"
    placeholder="Email Account"
    required
    value="<%= locals.account_email %>"
  >
  <label for="password">Password:</label>
  <input
    id="password"
    type="password"
    name="account_password"
    placeholder="Password"
    required
    pattern="(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{12,}"
    title="Password must be at least 12 characters long, include at least one capital letter, one number, and one special character."
  >
  <button type="submit">Login</button>
  <p>No Account? <a href="/account/register">Sign-up</a></p>
</form>