<!-- if a title exists, add it to the h1
If not return to the base view. -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Adds the ability to see error messages -->
<%- messages() %>

<!-- Display Errors -->
<% if (typeof errors !== "undefined" && errors.length > 0) { %>
    <ul class="notice" id="form-errors">
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<div class="form-container">
    <form action="/inv/add/vehicle" method="POST">
        
        <!-- Classification Dropdown (Dynamically Generated) -->
        <%- dropdown %>

        <!-- Make -->
        <label for="inv_make">Make:</label> 
        <input type="text" id="inv_make" name="inv_make" placeholder="Min of 3 characters" required>

        <!-- Model -->
        <label for="inv_model">Model:</label>
        <input type="text" id="inv_model" name="inv_model" placeholder="Min of 3 characters" required>

        <!-- Description -->
        <label for="inv_description">Description:</label>
        <textarea id="inv_description" name="inv_description" rows="4" required></textarea>

        <!-- Image Path -->
        <label for="inv_image">Image Path:</label>
        <input type="text" id="inv_image" name="inv_image" required>

        <!-- Thumbnail Path -->
        <label for="inv_thumbnail">Thumbnail Path:</label>
        <input type="text" id="inv_thumbnail_" name="inv_thumbnail" required>

        <!-- Price -->
        <label for="inv_price">Price:</label>
        <input type="number" id="inv_price" name="inv_price" placeholder="Decimal or Integer" required>

        <!-- Year -->
        <label for="inv_year">Year:</label>
        <input type="number" id="inv_year" name="inv_year" placeholder="YYYY" required>

        <!-- Miles -->
        <label for="inv_miles">Miles:</label>
        <input type="number" id="inv_miles" name="inv_miles" placeholder="Digits only" required>

        <!-- Color -->
        <label for="inv_color">Color:</label>
        <input type="text" id="inv_color" name="inv_color" required>

        <!-- Submit Button -->
        <button type="submit">Add Vehicle</button>
    </form>
</div>
